* {
  padding: 0;
  margin: 0; }

title {
  color: #fff;
  font-weight: 500; }

body {
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  position: relative;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #fff;
  outline: none; }

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  padding-bottom: 22px;
  margin: 0px; }

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 8px; }

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 36px;
  line-height: 38px;
  padding-bottom: 0px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px; }

h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 6px;
  font-weight: 400;
  margin: 0px; }

h4 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 19px;
  line-height: 24px;
  padding-bottom: 6px;
  font-weight: 600;
  margin: 0px; }

h5 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 6px;
  font-weight: 400;
  margin: 0px; }

.horizon {
  line-height: 0; }
  .horizon img {
    height: 90%;
    margin-bottom: -15px; }

.middle {
  line-height: 0; }

.front {
  z-index: 500;
  bottom: 17px;
  width: 6000px; }

.main-content {
  margin-top: 65px;
  position: relative; }

.content {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
  padding: 20px;
  border: 10px solid white;
  box-shadow: inset 0px 0px 0px 5px red;
  box-sizing: border-box; }

.bannerText {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 130px;
  text-align: center;
  padding: 30px 0 30px;
  max-width: 960px;
  border: 1px solid #fff;
  background: rgba(0, 0, 0, 0.3);
  z-index: 900;
  /*for web browsers that doesn't support RGBa*/
  filter: alpha(opacity=30);
  zoom: 1; }
  @media (max-width: 1199px) {
    .bannerText {
      padding-left: 25px;
      padding-right: 25px; }
      .bannerText h1 {
        font-size: 65px;
        line-height: 71px; }
      .bannerText h2 {
        font-size: 28px; } }
  @media (max-width: 767px) {
    .bannerText {
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 0 20px; }
      .bannerText h1 {
        font-size: 45px;
        line-height: 53px; }
      .bannerText h2 {
        font-size: 18px;
        line-height: 1.2; } }

.bannerText h1 {
  text-transform: uppercase; }

.bannerText h2 {
  font-size: 34px;
  text-transform: none; }

.intro {
  position: absolute;
  left: 500px;
  top: 0px;
  padding-right: 50px;
  color: #000; }

.page {
  bottom: 100px;
  width: 500px;
  background: white;
  padding: 10px 30px;
  border: 1px #eee solid;
  color: #000;
  position: absolute; }

.description {
  left: 1500px; }

.documentation {
  left: 2450px;
  width: 700px; }

.options {
  width: 700px;
  left: 3800px; }

.download {
  width: 500px;
  left: 5100px; }
